@import "@fontsource/fira-sans";
@import "@fontsource/fira-mono";
@import "@fontsource/archivo-black";
@import "tailwindcss";

@theme {
  --font-sans: "Fira Sans", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", "Courier New", Courier, monospace;
  --font-title: "Archivo Black", "Arial Black", sans-serif;

  --color-primary: #ffa600;
}

body {
  font-family: var(--font-sans);
}
