@import "@fontsource/inter";
@import "@fontsource/jetbrains-mono";
@import "@fontsource/archivo-black";
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
  --font-title: "Archivo Black", "Arial Black", sans-serif;

  --color-logo-orange: #ffa600;
  --color-logo-blue: #15214c;

  --header-height: 4rem;
}

body {
  font-family: var(--font-sans);
}

main {
  padding-top: var(--header-height);
}

::selection {
  background-color: var(--color-logo-blue); /* cyan-ish blue */
  color: white;
}
