---
import Page from "@/layouts/Page.astro";
---

<Page title="Important information">
  <h2 class="text-center">Important information</h2>

  <p>
    Here you will find important information for participants, such as: visa,
    participation costs, etc.
  </p>
</Page>
