---
import Page from "@/layouts/Page.astro";
---

<Page title="Location and tourism">
  <h2 class="text-center">Location and tourism</h2>

  <p>
    Here you will find information about Santiago, Valparaiso and their turistic
    attractions.
  </p>
</Page>
