---
import Page from "@/layouts/Page.astro";
---

<Page title="Promotion rules">
  <h2 class="text-center">Promotion rules</h2>

  <p>
    This page defines the rules for promoting teams from the 2026 Latin American
    Championship to the 2026 World Finals.
  </p>
</Page>
