---
import Page from "@/layouts/Page.astro";
---

<Page title="Teams">
  <h2 class="text-center">Promoted Teams</h2>
  <h2>Mexico Region</h2>
  <h3>Mexico</h3>
  <ul>
    <li>[Facultad de Ingenieria] :)</li>
    <li>[ITESM Monterrey] Sindicato de Taxistas Calakmul (PD 500 usd y agregamos tu nombre)</li>
    <li>[UP Bonaterra] Igloo Zone</li>
    <li>[UPGDL] Testigos de Germán</li>
    <li>[ESCOM IPN] hmmmmmmmmm?</li>
    <li>[UdG CUCEI] Find(Nim Mo);</li>
  </ul>

  <h2>Caribbean Region</h2>
  <h3>Antigua and Barbuda</h3>
  <ul>
    <li>[UWI-FIC] FrostByte</li>
  </ul>
  <h3>Cuba</h3>
  <ul>
    <li>[UH] UH Pop</li>
    <li>[UCLV] ACxioma</li>
  </ul>
  <h3>Dominican Republic</h3>
  <ul>
    <li>[PUCMM-CSD] PULSE DEMON</li>
  </ul>
  <h3>Puerto Rico</h3>
  <ul>
    <li>[UPR-A] WolfByte</li>
  </ul>
  <h3>Trinidad and Tobago</h3>
  <ul>
    <li>[UWI-TTO] 3x + 1</li>
  </ul>

  <h2>Central America Region</h2>
  <h3>Costa Rica</h3>
  <ul>
    <li>[ITCR-Alajuela] No name yet</li>
  </ul>
  <h3>Guatemala</h3>
  <ul>
    <li>[URL] BananaScript</li>
  </ul>
  <h3>Salvador</h3>
  <ul>
    <li>[ESEN] Synnapsis</li>
  </ul>

  <h2>South America / North Region</h2>
  <h3>Colombia</h3>
  <ul>
    <li>[UN-Med] UNTreeCiclo</li>
    <li>[EAFIT] Que bendición</li>
  </ul>
  <h3>Venezuela</h3>
  <ul>
    <li>[USB] Lugia Brasileiro</li>
  </ul>

  <h2>South America / South Region</h2>
  <h3>Argentina</h3>
  <ul>
    <li>[UBA - FCEN] Corman</li>
    <li>[FAMAF - UNC] Helicóptero</li>
    <li>[UBA - FCEN] Los Catastróficos</li>
    <li>[UNR] para la pda elegimos nombre</li>
    <li>[UNR] Red-Black Tree</li>
    <li>[UNLP] NaN (Need a Name)</li>
    <li>[UTN Argentina - Santa Fe] Champán en lata</li>
  </ul>
  <h3>Bolivia</h3>
  <ul>
    <li>[UMSS] Wasos del valle</li>
  </ul>
  <h3>Chile</h3>
  <ul>
    <li>[UChile] sin globito no hay fiesta</li>
    <li>[PUC] MEMoir del pudu</li>
    <li>[UTFSM] La CASneta</li>
    <li>[UTFSM] LA SECTA</li>
  </ul>
  <h3>Uruguay</h3>
  <ul>
    <li>[ORT] ORT 1 Dividimos y no Conquistamos</li>
  </ul>
  <h3>Peru</h3>
  <ul>
    <li>[UNI-FIIS] SaleEnOdeUno</li>
  </ul>

  <h2>Brazil Region</h2>
  <h3>Brazil</h3>
  <ul>
    <li>[UNICAMP] Naim continua dentro de nós</li>
    <li>[UFCG] 8e6d0497880e3db3b3b093f517c13f9f</li>
    <li>[UFMG] ooga booga</li>
    <li>[UFPE] las4s e pelados</li>
    <li>[UDESC] é sempre o XOR</li>
    <li>[UnB] Los Tralalelitos dizem FLAMENGOOO</li>
    <li>[UnB] É só fazer</li>
    <li>[FFCLRP-USP] apes together strong</li>
    <li>[USP] Here's my number: 998244353, so call me maybe</li>
    <li>[UFRJ] Meu nome é shadow. Sou aquele que deixou todo o seu passado para trás.
Não faço esse contest por ninguém, não estou preso a nada</li>
    <li>[PUC-RJ] Esse ai resolve com ccw</li>
    <li>[UnB] grafo de botas</li>
  </ul>


</Page>