---
import Page from "@/layouts/Page.astro";
---

<Page title="Teams Registration">
<h2 class="text-center">Teams Registration</h2>
<p>The team must be complete at the time of registration. 
    If your team has some self-paid guests, they must also be 
    present. Registration will take place at the <strong>Hotel Novapark 
    on Wednesday, March 4. Please select your registration 
    time in this <a href="https://docs.google.com/spreadsheets/d/18jUDp8usrznOCMdf-HlqJJ59eeHXxoflVCTM8o2Qo4A/edit?usp=sharing">spreadsheet</a></strong>
</p>
<p>
    On-Site Registration confirms that your delegation is present and 
    verifies the printed materials you would like at your workstation 
    during the contest.  You will be provided with badges, t-shirts, 
    and your gift bag. Also, we will complete all the necessary 
    paperwork and take the team's official photo, using official 
    T-shirts and badges.
</p>
<p>
    Each contestant must bring an <i>official picture ID</i> to registration: 
    a passport, national ID, or driver's license is sufficient.
</p>
<p>
    Each contestant <strong>may also bring:</strong>
</p>
<ul>
    <li>
        <strong>a dictionary for translation purposes during the contest.</strong>
    </li>
    <li>
        <strong>a printed copy of your Team Reference Document.</strong>
    </li>
</ul>
<p>
    This document may contain up to 25 pages of reference materials, single-sided, 
    letter or A4 size, with pages numbered in the upper right-hand corner and your 
    university name and team name printed in the upper left-hand corner of each page.
</p>
<p>
    Text and illustrations must be readable by a person with correctable eyesight 
    without magnification from a distance of 1/2 meter.
</p>
<p>
    It may include handwritten comments and corrections on the fronts of pages only.
</p>
<p>
    The document must be kept in a notebook or folder labeled with your institution's 
    name on the front.
</p>
<p>
    The document will NOT be loaded onto your computer or accessible from your computer, 
    but will be available at your workstation only in the printed <strong>form you provide.</strong>
</p>
<p style="color: red;">
    We are not permitted to print the document for you, and there may not be printing facilities at the hotel. 
    You must print it at home before you leave on your trip.
</p>
<h2>
    Other materials on your workstation
</h2>
<p>
    In your workstation, you will find writing materials (scratch paper and a pen). We will also 
    provide your team with food and water during the contest. 
</p>
<p>
    If you want to have any additional materials or special food on your workstation during the contest, 
    you must bring them to the warm-up and leave them there <strong>as instructed by the staff.</strong>
</p>
<p>
    Examples of materials you may bring include mascots, small totems, medicines, tissue paper, and 
    special food you need. <strong>No electronics</strong> are allowed (cellphones, watches, pen drives, etc.). 
    <strong>If you need any electronics for health reasons, please inform the staff during your team registration.</strong> 
</p>
<h2>
    You are not allowed to bring anything onto the contest floor on competition day.
</h2>
</Page>
