---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
import CardStack from "../components/CardStack.astro";
import Carousel from "../components/Carousel.tsx";
import FAQAccordion from "../components/FAQAccordion.tsx";
---

<Page title="Acerca">
  <Carousel slot="before-article" client:load />
  <h1>¿Qué es el CIPC?</h1>
  <p>
    El <strong>Campamento Invernal de Programación Competitiva</strong> es un programa
    intensivo de dos semanas diseñado para estudiantes universitarios interesados
    en aprender y aplicar algoritmos y estructuras de datos en el contexto de la
    programación competitiva, con un enfoque principal en competencias estilo
    <a
      href="https://en.wikipedia.org/wiki/International_Collegiate_Programming_Contest"
      >ICPC</a
    >.
  </p>
  <p>El campamento incluye:</p>
  <ul>
    <li>
      🧑‍🏫 <strong>Clases teóricas</strong> sobre algoritmos, estructuras de datos
      y técnicas de programación competitiva.
    </li>
    <li>
      👩‍💻 <strong>Talleres prácticos</strong> con simulaciones de competencias.
    </li>
    <li>💬 <strong>Sesiones de discusión</strong> y análisis de problemas.</li>
  </ul>
  <h2>Niveles</h2>
  <p>
    Para llegar a estudiantes con diversos niveles de experiencia, ofrecemos los
    niveles <strong>Inicial</strong> y <strong>Avanzado</strong>:
  </p>
  <CardStack>
    <Card class="w-full" title="🚀 Inicial" slot="left">
      <p>
        Dirigido a quienes están dando sus primeros pasos en programación
        competitiva.
      </p>
      <p>
        Se recomiendan conocimientos básicos de programación: if, loops,
        arreglos y funciones.
      </p>
    </Card>
    <Card class="w-full" title="🏆 Avanzado" slot="right">
      <p>
        Pensado para quienes buscan entrenarse seriamente para competencias como
        la ICPC.
      </p>
      <p>
        Se recomienda experiencia previa en competencias de programación y
        conocimiento parcial o completo del temario del nivel inicial.
      </p>
    </Card>
  </CardStack>

  <p>
    Puedes encontrar más información y el temario de cada nivel en el
    <a href="/cronograma">cronograma</a>.
  </p>

  <h2>Preguntas frecuentes</h2>
  <FAQAccordion client:load />

  <h2>Organizadores</h2>
  El Campamento Invernal de Programación Competitiva está organizado por la <a
    href="https://progcomp.cl">Sociedad Chilena de Programación Competitiva</a
  >.
</Page>
