---
import Page from "../layouts/Page.astro";
---

<Page title="Código de conducta">
  <h1 class="mt-12!"><strong>Código de conducta</strong></h1>
  <h3>Al participar en el capamento aceptas los siguientes lineamientos</h3>

  <p>
    Nosotros, los <strong
      >participantes, voluntarios, organizadores, profesores, medios de
      comunicación, patrocinadores y otras personas involucradas</strong
    > con el Campamento Invernal de Programación Competitiva 2024, nos reunimos para
    el intercambio abierto de ideas, la libertad de pensamiento y expresión, y para
    desarrollar nuestras habilidades, lo cual es central para los objetivos de esta
    Escuela. Esto requiere una comunidad y un entorno que reconozcan y respeten el
    valor inherente de cada persona.
  </p>

  <h2><strong>RESPONSABILIDAD</strong></h2>
  <p>
    Todos los <strong
      >participantes, voluntarios, organizadores, profesores, medios de
      comunicación y patrocinadores</strong
    > (referidos colectivamente como "Participantes" en este documento) en nuestra
    Escuela están igualmente sujetos a este Código de Conducta. Los organizadores
    harán cumplir este Código, y se espera que todos los Participantes cooperen para
    ayudar a garantizar un entorno seguro e inclusivo para todos.
  </p>

  <h2><strong>POLÍTICA</strong></h2>
  <p>
    El Campamento Invernal de Programación Competitiva se compromete a
    proporcionar una experiencia para todos los participantes que esté libre de
    lo siguiente:
  </p>
  <ul>
    <li>
      <p>
        Acoso, intimidación o discriminación, que incluye pero no se limita a
        comentarios ofensivos relacionados con la edad, raza, religión, credo,
        color, género (incluida la identidad de género/ expresión de género),
        orientación sexual, condición médica, discapacidad física o intelectual,
        embarazo, origen nacional o ascendencia.
      </p>
    </li>
    <li>
      <p>
        Intimidación, ataques personales, acoso, interrupción innecesaria de
        charlas u otros eventos del Campamento.
      </p>
    </li>
    <li>
      <p>
        Comportamiento inapropiado o no profesional que interfiera con la
        participación plena de otra persona, incluyendo:
      </p>
      <ul>
        <li>
          <p>
            Acoso sexual, acecho, seguimiento, fotografía o grabación acosadora,
            contacto físico inapropiado, atención no deseada, intercambios
            vulgares en público, insultos despectivos y caracterizaciones
            despectivas.
          </p>
        </li>
        <li>
          <p>
            Uso de imágenes, actividades u otros materiales de naturaleza
            sexual, racial u ofensiva que puedan crear un ambiente inapropiado o
            tóxico.
          </p>
        </li>
        <li>
          <p>
            Conducta desordenada, ruidosa o disruptiva, incluyendo peleas,
            coerción, robo, daño a la propiedad o cualquier maltrato o
            comportamiento no adecuado hacia los participantes.
          </p>
        </li>
      </ul>
    </li>
  </ul>

  <h2><strong>ACCIÓN</strong></h2>
  <p>
    Si un Participante participa en cualquier comportamiento inapropiado según
    lo definido aquí, los organizadores del Campamento Invernal de Programación
    Competitiva pueden tomar medidas según lo consideren apropiado, incluyendo:
  </p>
  <ul>
    <li>Una advertencia formal o informal al infractor,</li>
    <li>expulsión del Campamento,</li>
    <li>
      prohibición de participación en futuros Campamentos o su organización, y
    </li>
    <li>
      reporte del incidente a la institución local del infractor o a las
      autoridades locales o policiales.
    </li>
  </ul>
  <p>
    Una respuesta de "solo bromeaba" no es aceptable. Si se toma alguna medida,
    se proporcionará un proceso de apelación. No habrá represalias contra ningún
    participante que presente una queja o presente un informe de incidente de
    buena fe, o que honestamente ayude en la investigación de tal queja.
  </p>

  <h2><strong>INFORME DE QUEJAS</strong></h2>
  <p>
    El Campamento Invernal de Programación Competitiva alienta a todos los
    participantes a informar de inmediato cualquier incidente de discriminación,
    acoso, conducta no profesional y/o represalia para que las quejas puedan
    resolverse rápidamente y de manera justa. Todas las quejas se manejarán de
    la manera más confidencial posible, y la información se divulgará solo según
    sea necesario para completar la investigación y llevarla a su resolución. Si
    tiene preocupaciones relacionadas con su participación/interacción en el
    Campamento o eventos del Campamento, observa las dificultades de otra
    persona o tiene alguna otra inquietud que desee compartir comuníquese con
    los organizadores mediante campamento@progcomp.cl.
  </p>
</Page>
