---
interface Props {
  showBackground: true;
  showLogo: true;
}
const { showBackground, showLogo } = Astro.props;
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

const currentPath = Astro.url.pathname;
const navItems = [
  { name: "acerca", href: "/acerca" },
  { name: "cronograma", href: "/cronograma" },
  { name: "patrocinadores", href: "/patrocinadores" },
  { name: "código de conducta", href: "/codigo-de-conducta" },
];
---

<header
  class:list={[
    "fixed top-0 w-[100%] h-[var(--header-height)]",
    "flex items-center justify-between px-4 py-2",
    showBackground ? "bg-white" : "bg-white/2 backdrop-filter backdrop-blue",
    "border-solid",
  ]}
>
  <div id="header-logo" class="grow-1 basis-0">
    <a href="/">
      {showLogo && <Image src={logo} height="64" alt="Logo CIPC" />}
    </a>
  </div>
  <nav class="font-mono">
    <ul class="flex gap-0">
      {
        navItems.map((item) => (
          <li>
            <a
              class:list={[
                "nav-link",
                "text-white hover:text-logo-orange",
                "text-xs sm:text-sm lg:text-lg",
                item.href == currentPath ? "text-logo-orange underline" : "",
              ]}
              href={item.href}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="flex justify-end grow-1 basis-0" id="header-social"></div>
</header>

<style>
  .nav-link {
    position: relative;
  }
  .nav-link::before {
    content: "[";
    margin-right: -0.7rem;
    visibility: hidden;
  }
  .nav-link::after {
    content: "]";
    margin-left: -0.7rem;
    visibility: hidden;
  }
  .nav-link:hover::before {
    visibility: visible;
  }
  .nav-link:hover::after {
    visibility: visible;
  }
</style>
