---
import "../styles/global.css";
const currentPath = Astro.url.pathname;
const navItems = [
  { name: "organizadores", href: "/organizadores" },
  { name: "patrocinadores", href: "/patrocinadores" },
  { name: "cronograma", href: "/cronograma" },
  { name: "preguntas frecuentes", href: "/preguntas-frecuentes" },
  { name: "código de conducta", href: "/codigo-de-conducta" },
];
---

<header
  class="fixed top-0 w-[100%] flex items-center justify-between px-4 py-2"
>
  <div id="header-logo" class="grow-1 basis-0">
    <a href="/">CIPC 2025</a>
  </div>
  <nav class="font-mono text-white">
    <ul class="flex gap-6">
      {
        navItems.map((item) => (
          <li>
            <a
              class:list={[
                "underline-offset-10 decoration-5",
                "hover:text-primary hover:underline",
                item.href == currentPath ? "text-primary underline" : "",
              ]}
              href={item.href}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="flex justify-end grow-1 basis-0" id="header-social"></div>
</header>
