---
interface Props {
  variant?: "default" | "home";
}
const { variant = "default" } = Astro.props;
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

const headerClasses = {
  default: "bg-white",
  home: "bg-white/2 backdrop-filter backdrop-blue",
}[variant];

const navActiveClasses = "nav-active text-logo-orange";
const navLinkClasses = {
  default: "text-black hover:text-logo-orange",
  home: "text-white hover:text-logo-orange",
}[variant];

const showLogo = variant == "default";
const currentPath = Astro.url.pathname;
const navItems = [
  { name: "acerca", href: "/acerca" },
  { name: "cronograma", href: "/cronograma" },
  { name: "patrocinadores", href: "/patrocinadores" },
  { name: "código de conducta", href: "/codigo-de-conducta" },
].map((item) => ({
  ...item,
  classes: item.href === currentPath ? navActiveClasses : "",
}));
---

<header
  class:list={[
    "fixed top-0 w-[100%] h-[var(--header-height)]",
    "flex items-center justify-between px-4 py-2",
    "border-solid",
    headerClasses,
  ]}
>
  <div id="header-logo" class="grow-1 basis-0">
    <a href="/">
      {showLogo && <Image src={logo} height="64" alt="Logo CIPC" />}
    </a>
  </div>
  <nav class="font-mono">
    <ul class="flex gap-0">
      {
        navItems.map((item) => (
          <li>
            <a
              class:list={[
                "nav-link",
                "text-xs sm:text-sm lg:text-lg",
                navLinkClasses,
                item.classes,
              ]}
              href={item.href}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class="flex justify-end grow-1 basis-0" id="header-social"></div>
</header>

<style>
  .nav-link {
    position: relative;
  }
  .nav-link::before {
    content: "[";
    margin-right: -0.7rem;
    visibility: hidden;
  }
  .nav-link::after {
    content: "]";
    margin-left: -0.7rem;
    visibility: hidden;
  }
  .nav-link:hover::before,
  .nav-active::before {
    visibility: visible;
  }
  .nav-link:hover::after,
  .nav-active::after {
    visibility: visible;
  }
</style>
