---
import { getFileIcon } from "@/utils/getIcon";

interface Props {
  files: string[];
}

const { files = [] } = Astro.props;
---

{
  files.length > 0 && (
    <div class="space-y-2">
      {files.map((file) => {
        const ext = file.split(".").pop()?.toLowerCase() ?? "";
        const name = file.split("/").pop() ?? file;
        const Icon = getFileIcon(ext);
        return (
          <div class="flex items-center">
            <Icon size={16} className="mr-[0.2em]" />
            <a
              href={file}
              target="_blank"
              rel="noopener noreferrer"
              class="text-sm underline"
            >
              {name}
            </a>
          </div>
        );
      })}
    </div>
  )
}
