---
import Header from "../components/Header.astro";
import background from "../assets/utfsm.jpg";
---

<main class="flex flex-col h-full justify-center items-center">
  <Header />
  <section id="hero" class="flex flex-col items-center justify-center h-[100%]">
    <img
      class="absolute top-0 left-0 h-[100dvh] object-cover -z-10 filter brightness-[0.5]"
      id="background"
      src={background.src}
      alt=""
      fetchpriority="high"
    />
    <h1
      id="hero-title"
      class="text-2xl font-title text-center text-[clamp(2.5rem,6vw,5rem)] font-black tracking-tighter leading-[0.9] text-shadow-lg/50 text-white"
    >
      CAMPAMENTO INVERNAL <br /> DE <span class="text-primary"
        >PROGRAMACIÓN <br /> COMPETITIVA</span
      >
    </h1>
    <h2
      id="hero-subtitle"
      class="mt-5 font-mono text-center text-white text-shadow-black text-shadow-lg"
    >
      22 de Julio - 2 de Agosto, 2025 <br /> Universidad Técnica Federico Santa María,
      Valparaíso <br /> Inscripciones próximamente
    </h2>
  </section>

  <!-- <section id="about">
    <h1>¿Qué es el CIPC?</h1>
  </section> -->
</main>
