---
import { getLangFromUrl } from "@/i18n/utils";
interface Props {
  title: string;
  bodyClasses?: (string | undefined | false)[];
}
const { title, bodyClasses = [] } = Astro.props;
import "../styles/global.css";
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="ICPC Latin America Championship 2026 in Chile"
    />
    <title>PdA 2026{title && " - " + title}</title>
    <script src="../lib/theme.ts"></script>
  </head>
  <body class:list={bodyClasses}>
    <slot />
  </body>
</html>
