---
import Header from "../components/Header.astro";
import santiagoVertical from "../assets/santiago-vertical.jpg";
import santiagoHorizontal from "../assets/santiago-horizontal.jpg";
import valparaisoHorizontal from "../assets/valparaiso-horizontal.jpg";
import Base from "../layouts/Base.astro";
import { Link } from "@/components/ui/link";
import { FileText, Info } from "lucide-react";
import { Image } from "astro:assets";
import logo from "../assets/logo-dark.svg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Base title="Inicio" bodyClasses={["dark"]}>
  <Header variant="home" />
  <main class="h-[100dvh]">
    <Image
      class="block lg:hidden absolute top-0 left-0 h-[100dvh] -z-10 filter brightness-[0.5] object-cover object-right"
      src={santiagoVertical}
      alt="Santiago de Chile"
    />
    <Image
      class="hidden lg:block absolute top-0 left-0 h-[100dvh] -z-10 filter brightness-[0.5] object-cover object-[0%_30%]"
      src={santiagoHorizontal}
      alt="Santiago de Chile"
    />
    <div
      class="grid grid-rows-[minmax(0,3fr)_minmax(0,4fr)] h-full justify-items-center"
    >
      <Image src={logo} alt="Logo PdA" class="self-center max-h-[50%]" />
      <div
        class="grid grid-rows-[minmax(0,1fr)_minmax(0,3fr)] justify-items-center h-full"
      >
        <div class="self-center">
          <h1
            class="text-2xl font-title text-center text-[clamp(2rem,6vw,5rem)] font-black tracking-tighter leading-[0.95] text-shadow-lg/50 text-white"
          >
            <slot name="title">
              2026 ICPC <span class="text-logo-orange whitespace-nowrap"
                >LATIN AMERICA</span
              > CHAMPIONSHIP
            </slot>
          </h1>
        </div>
        <div>
          <h2
            class="mt-2 text-md lg:text-lg text-center text-white text-shadow-black text-shadow-lg"
          >
            <slot name="subtitle">
              <p>Santiago - Valparaíso, Chile</p>
            </slot>
          </h2>
          <div class="flex justify-center">
            <Link
              variant="default"
              size="lg"
              className="m-2"
              href={getRelativeLocaleUrl(lang, "/about/")}
              ><Info />{t("home.about-btn")}</Link
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>
